.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header{
    height: 60px;
    padding: 16px;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rightButton + .rightButton {
    margin-left: 30px;
}